body {
    font-size: 16px;
    color: #000;
    background-color: #fff; /* #121212 */
    font-family: Arial, sans-serif;
}

/* Global */
.wrapper {
    .container {
        section {
            width: 100%;
            padding: 10px;
        }
    }
}

.clear {
    clear: both;
}

.button {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0;
    overflow: visible;

    /*background*/
    border-color: #1e73be;
    background-color: #1e73be;
    border-radius: 2px;
    border: 0;
    /*text*/
    color: #ffffff;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    white-space: normal;
    text-decoration: none;
    /*null style*/
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    /*animation*/
    transition: .4s ease-out;
}

.button:hover {
    transform: scale(1.05);
    background-color: #ebe9eb;
    color: #333;
}

.global-img-boxs {
    display: block;
    height: inherit;
    img {
        display: inline-block;
        width: auto;
        height: 100%;
        margin: 0 auto;
    }
}

.position-box-center {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.position-box-center-horizon {
	display: flex;
    justify-content: center;
    text-align: center;
}
.position-box-align {
	display: flex;
    align-items: flex-start;
}

.icon
{
    width: 26px;
    height: 26px;
    path {
        fill: #fff;
    }
}
.icon:hover
{
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    path {
        fill: #116EEF;
    }
}

.media_block {
    max-width: 836px;
}

.filter_search {
    margin-bottom: 20px;
}

.filter {
    width: 100%;
    .filter_catalog {
        padding: 7px;
        border: 1px solid #ddd;
        border-radius: 3px;
        width: 100px;
    }
}

.search {
    width: 100%;
    height: auto;

    
    input[type="text"] {
        display: block;
        height: 38px;
        line-height: 38px;
        border: 0;
        border: solid 1px #bbb;
        padding: 0 40px 0 20px;
        width: calc(100% - 60px);
        text-align: left;
        font-size: 14px;
        color: #fff;
        outline: 0;
        border-radius: 3px;
        font-family: 'SFUI';
    }

    input {
        display: block;
        border: 1px solid #ddd;
        margin-left: 20px;
        border-radius: 3px;
        width: auto;
    }
}

.basket {
    display: block;
    position: relative;
    #basket_summ {
        position: absolute;
        right: -10px;
        top: -3px;
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #e2423e;
        border-radius: 50%;
        padding: 4px 6px;
    }
}

#click {
    display: block;
}
#click_flex {
    display: flex;
}
/* #Global# */

/* Constructor */
.list {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ddd;
    padding: 5px;
} 


.constructor_list {
    .constructor_list-item {
        padding: 5px;
        background-color: #bbb;
    }
    .constructor_list-item:hover {
        background-color: #fff;
        border: solid 1px #000;
    }
}

.items {
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.color-items {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    border: solid 1px #ddd;
}
.color-items:hover {
    border: solid 1px #000;
}
.color-items:last-child {
    margin-right: 0;
}

.scroll-list {
    position: relative;
    overflow: hidden;
}
.scroll-list::-webkit-scrollbar{
    width: 7px;
}
.scroll-list::-webkit-scrollbar-track{
    background-color: rgb(41,41,41);
}
.scroll-list::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #498EEF;
}

.scroll-description {
    overflow: hidden;
}
.scroll-description::-webkit-scrollbar {
    width: 3px;
}
.scroll-description::-webkit-scrollbar-track {
    background-color: #fff;
}
.scroll-description::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #333;
}

.list-constructor {
    max-height: 42px;
}

.text-items {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: solid 1px #fff;
}
.text-items:hover {
    border: solid 1px #000;
}
.text-items:last-child {
    margin-bottom: 0;
}
/* #Constructor# */
