.main-block-constructor {
    position: relative;

    .constructor_part {
        display: block;
        height: auto;
        width: auto;
        padding: 5px;
        margin-right: 10px;
        overflow: hidden;
        border: 1px solid #000;
        text-align: center;
    }

    .constructor_part-block {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .constructor_part {
            min-height: 215px;
            max-height: 322px;
        }

        .constructor_part:nth-child(1) {
            width: 182px;
            max-width: 182px;
        }

        .constructor_part:nth-child(2) {
            max-width: 920px;

            .active_menu-description {
                max-height: inherit;
            }
        }

        .constructor_part-active_menu {
            .active_menu {
                float: left;
                width: 170px;
                min-height: 58px;

                .constructor_modules {
                    margin-bottom: 5px;
                }
                .constructor_modules:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .active_menu-description {
            width: 100%;
        }
    }

    #constructor-block {
        min-height: 185px;
        min-width: 200px;
        height: 50vh;
    }
}