.main-block-constructor {
    display: flex;
    justify-content: center;
    align-items: center;
    //text-transform: uppercase;
    .constructor_part {
        display: inline-block;
        min-height: 228px;
        min-width: 200px;
        height: auto;
        width: 15vw;
        padding: 5px;
        margin-left: 6px;
        border: 1px solid #000;
        text-align: center;

        h1 {
            font-weight: bold;
            text-align: center;
        }
        .constructor-menu {
            #menu-inner_list {
                display: none;
            }

            #menu-inner:hover {
                #menu-inner_list {
                    display: block;
                }
            }
        }
        .constructor-menu_item {
            position: relative;
            background-color: #bbb;
            border-bottom: 1px solid #000;

            span {
                display: block;
                padding: 10px;
            }

            p {
                display: block;
                padding: 10px;
            }
        }
        .constructor-menu_item:hover {
            transition: ease-out .9s;
            background-color: orange;
        }
        .constructor-menu_item:nth-child(4) {
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;

            .constructor-menu_item-inner {
                user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                
                position: absolute;
                width: 218.5px;
                background-color: #333;
                z-index: 999;
                ul {
                    display: block;
                    height: auto;

                    li {
                        color: #fff;
                    }
                    li:hover {
                        transition: ease-out .9s;
                        background-color: #ddd;
                        color: #000;
                    }
                }
            }
        }
        .constructor-menu_item:nth-child(5) {
            text-align: left;
        }
        .constructor-menu_item:last-child {
            border-bottom: none;
        }

        .constructor_modules {
            height: auto;
            width: auto;
            padding: 10px;

            .heading {
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }
    
    .constructor_part:nth-child(2) {
        position: relative;
        padding: 0;
        .constructor_part-background_block {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: inherit;
            width: 100%;
            padding: 20px;
            .constructor_part-block {
                display: block;
                width: auto;
                height: 200px;
                width: 150px;
                border: solid 1px #000;
            }
        }

    }
    .constructor_part:nth-child(3) {
            
        #constructor_part-color_block {
            display: none;
        }

        #constructor_part-size_block {
            display: none;
        }

        #constructor_part-set_block {
            display: none;
        }

        #constructor_part-filler_block {
            display: none;
        }

        #constructor_part-decoration_block {
            display: none;
        }

        #constructor_part-backlight_block {
            display: none;
        }
    }
}