.elemet-container {
    display: block;
    max-width: 208px;
    min-height: 158px;
    padding: 0 0 10px 10px;

    .video {
        width: inherit;
        height: 100%;
        border: solid 1px #ddd;
        border-radius: 5px;
    }

    .photo {
        width: inherit;
        height: 100%;
        border: solid 1px #000;
    }
}

.elemet-container:last-child {
    margin-right: 0;
}