header {
    .menu {
		position: relative;
        font-size: 0;
        background-color: #116EEF;
        padding: 10px 32px 10px 32px;
        width: auto;
        height: auto;
        min-height: 48px;
        
        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            .menu-title {
                display: none;
                width: 100%;
                padding: 16px 10px;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;

                .burger {
                    width: 26px;
                    fill: #fff;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }

            .icon_basket
            {
                width: 50px;
                height: 50px;
                path {
                    fill: #fff;
                }
            }
            .icon_basket:hover
            {
                padding: 5px;
                background-color: #fff;
                border-radius: 3px;
                path {
                    fill: #5595EF;
                }
            }

            .menu_group {
                margin: 0 35px 0 35px;
            }

            .inner_menu
            {
                .menu-item {
                    display: inline-block;
                    padding: 16px 10px;
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .menu-item:hover {
                    color: #333;
                    background-color: #fff;
                    outline: 2px dashed rgba(255,255,255,0.8);
                }
            }  
        }
    }
}

