.reviews_block {
    height: auto; //260px
    width: 420px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px #E1E1E1;
    background-color: #FAFAFA;
    border-radius: 3px;
    line-height: 1.2em;

    .title-reviews_block {
        padding: 10px 15px;
        width: 100%;
        background-color: #ddd;
        color: #333;

        h2 {
            padding-top: 7px;
            margin-right: 10px;
            font-weight: 550;
        }

        .rating {
            display: flex;
            height: 32px;
            width: auto;
            .rating-item {
                height: inherit;
                width: 32px;
                margin-right: 5px;
                background-image: url("../images/iconsprite/rating/def.png");
                background-repeat: no-repeat;
            }
            .rating-item:last-child {
                margin-right: 0;
            }

            .active_rating-item {
                background-image: url("../images/iconsprite/rating/act.png");
            }
        }
    }


    .reviews_block-img {
        .show_list-img {
            padding: 5px 7.5px;
            text-decoration: underline;
            border-bottom: solid 1px #E1E1E1;

            .close_list-img {
                display: none;
            }
        }
        .show_list-img:hover {
            text-decoration: none;
            background-color: #498EEF;
            color: #fff;
        }

        .show-img {
            display: none;
            overflow: hidden;
            overflow-x: scroll;
            border-bottom: solid 1px #E1E1E1;

            picture {
                margin-right: 5px;
            }
            picture:last-child {
                margin-right: 0;
            }
        }
        .global-img-boxs::-webkit-scrollbar {
            width: 3px;
        }
        .global-img-boxs::-webkit-scrollbar-track {
            background-color: #fff;
        }
        .global-img-boxs::-webkit-scrollbar-thumb {
            width: 15px;
            background-color: #333;
        }
    }

    .reviews_block-text {
        article {
            text-align: justify;
            margin: 7px;
        }
    }
}
.reviews_block:last-child {
    margin-right: 0;
    margin-bottom: 0;
}