@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import "fonts";
@import "elem/nullstyle";

@import "elem/config";
@import "elem/info-header";
@import "elem/menu";
@import "elem/constructor";
@import "elem/product";

@media only screen and  (max-width: 768px) {
	header {
		flex-direction: column;
		text-align: center;

		.inner_menu-info {
			display: block;
			height: auto;
			.logo {
				width: 100%;
				margin: 0;
			}
			.list-phones {
				width: 100%;
				margin: 0;
				padding: 10px 0 20px 0;
			}
			.links {
				width: 100%;
				margin: 0;
			}
		}

		.menu {
			flex-direction: column;
			ul {
				width: 100%;
				.menu-title {
					display: block;
				}
			}
		}
		.inner_menu
		{
			display: none;
			.menu-item {
				display: block;
				width: 100%;
			}
		}
	}
	.product-list_item {
		width: 50%;
	}
}

@media (max-width: 1000px) and (min-width: 768px) {
	header {
		flex-direction: column;
		text-align: center;

		.menu {
			flex-direction: column;
			ul {
				width: 100%;
				.menu-title {
					display: block;
				}
			}
		}
		.inner_menu
		{
			display: none;
			.menu-item {
				display: block;
				width: 100%;
			}
		}
	}
	.product-list_item {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-list_item {
		width: 20%;
	}
	.inner_menu
	{
		display: block;
	}
}


