@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import "fonts";
@import "elem/nullstyle";

@import "elem/config";
@import "elem/info-header";
@import "elem/menu";
@import "elem/constructor";
@import "elem/product";
@import "elem/galary";
@import "elem/contacts";
@import "elem/reviews";

@media (max-width: 400px) {
	body
	{
		min-height: 1400px;
	}
	.main-block-constructor {
		.tabBar
		{
			height: 550px;
		}
	}
}

@media only screen and  (max-width: 670px) {
	.search {
		input {
			width: 50px;
			margin: 0;
		}
	}
}

@media only screen and  (max-width: 768px) {
	header {
		flex-direction: column;
		text-align: center;

		.inner_menu-info {
			display: block;
			height: auto;

			.logo {
				width: 100%;
				margin: 0;
			}
			.list-phones {
				width: 100%;
				margin: 0;
				padding: 10px 0 10px 0;
			}
			.links {
				width: 100%;
				margin: 0;
			}
		}

		.menu {
			flex-direction: column;
			padding: 10px 0 10px 0;
			ul {
				width: 100%;
				.menu-title {
					display: block;
				}
			}
		}
		.inner_menu
		{
			display: none;
			margin-bottom: 15px;
			.menu-item {
				display: block;
				width: 100%;
			}
			.menu-item:last-child {
				border-bottom: solid 1px #fff;
			}
		}
		
		.menu__group {
			width: 100%;
		}

		.links__group {
			display: none;
			bottom: -20px;
			padding-bottom: 10px;
			width: 100%;
			background-color: #116EEF;
			position: absolute;
		}

		.basket__group {
			position: absolute;
			top: 13px;
			right: 26px;
		}
	}
	.product-list_item {
		width: 50%;
	}
	.product-menu_variation {
		display: none;
	}
	.grocery-list  {
		justify-content: center;
	}
}

@media (max-width: 855px)
{
	.menu {
		margin-bottom: 30px;
	}

	.links__group {
		bottom: -20px;
		padding-bottom: 10px;
		width: 100%;
		background-color: #116EEF;
		position: absolute;
	}
}

@media (max-width: 999px) and (min-width: 768px) {
	header {
		flex-direction: column;
		text-align: center;
	}
	.product-list_item {
		width: 33.333%;
	}

	.grocery-list {
		justify-content: left;
	}
	.menu__group {
		width: auto;
		margin: 0 32px 0 32px;
	}
}


@media only screen and (max-width: 900px)
{
	.main-block-constructor 
	{
		.active_menu {
			.constructor_modules {
				margin-bottom: 0;
			}
		}
	}

	.main-block-constructor 
	{
		.active_menu {
			width: auto;
		}
	}

	.active_menu {
		.active_menu-group {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.constructor_modules {
				margin-right: 10px;
				margin-bottom: 10px;
			}
			.constructor_modules:last-child {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (min-width: 1000px) {
	.product-list_item {
		width: 20%;
	}
	.inner_menu
	{
		display: block;
		margin: 0 35px 0 35px;
	}

	.grocery-list {
		justify-content: left;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1200px;
		margin: 0 auto;
	}
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #ddd;

}
body::-webkit-scrollbar-track
{
	background-color: #ddd;
  	border-left: 3px solid white;
  	border-right: 3px solid white;

}
body::-webkit-scrollbar-thumb
{
	background-color: #116EEF;
}

